@page
@model FirstProject.Pages.UsersModel
@{
    ViewData["Title"] = "Users";
}

<h1>Users</h1>

<form method="get">
	<div class="form-group">
		<div class="input-group mb-3">
			<input type="search" class="form-control" placeholder="Search.." asp-for="SearchTerm">
			<div class="input-group-append">
				<button class="btn btn-outline-secondary" type="submit"><i class="fas  fa-search"></i></button>
			</div>
		</div>
	</div>
</form>

<table class="table">
	<thead>
		<th>
			Id
		</th>
		<th>
			Name
		</th>
		<th>
			LastName
		</th>
		<th>
			Location
		</th>
		<th>
			Country
		</th>
		<th>
			Cars
		</th>
	</thead>
	@foreach (var item in Model.Users)
	{
		<tr>
			<td>
				@item.Id
			</td>

			<td>
				@item.Name
			</td>
=
			<td>
				@item.LastName
			</td>
	
			<td>
				@item.Location
			</td>
	
			<td>
				@item.Country
			</td>
=
			<td>
				@item.Cars
			</td>
		</tr>
	}
</table>