@page
@model FirstProject.Pages.UsersDetailsModel
@{
    ViewData["Title"] = "UsersDetails";
}

<h1>UsersDetails</h1>

<table class="table table-bordered col-6">
	<tr class="font-weight-bold">
		<td >Id</td>
		<td>
			@Model.User.Id
		</td>
	</tr>
	<tr class="font-weight-bold">
		<td >Name</td>
		<td>@Model.User.Name</td>
	</tr>
	<tr class="font-weight-bold">
		<td >LastName</td>
		<td>@Model.User.LastName</td>
	</tr>
	<tr class="font-weight-bold">
		<td>Location</td>
		<td>@Model.User.Location</td>
	</tr>
	<tr class="font-weight-bold">
		<td>Country</td>
		<td>@Model.User.Country</td>
	</tr>
	<tr class="font-weight-bold">
		<td>Cars</td>
		<td>@Model.User.Cars</td>
	</tr>
</table>

<a asp-page="/Users" class="btn btn-primary">Back</a>