@page "{Id:int}"
@model FirstProject.Pages.Clients.DetailModel
@{
	ViewData["Title"] = "Detail";
}

<h1>Detail</h1>

<table class="table table-bordered col-6">
	<tr>
		<td class="font-weight-bold">
			Restaurant Id
		</td>
		<td>
			@Model.Client.Id
		</td>
	</tr>
	<tr>
		<td class="font-weight-bold">
			Name
		</td>
		<td>
			@Model.Client.Name
		</td>
	</tr>
	<tr>
		<td class="font-weight-bold">
			Location
		</td>
		<td>
			@Model.Client.LastName
		</td>
	</tr>
	<tr>
		<td class="font-weight-bold">
			Location
		</td>
		<td>
			@Model.Client.City
		</td>
	</tr>
	<tr>
		<td class="font-weight-bold">
			Location
		</td>
		<td>
			@Model.Client.Country
		</td>
	</tr>
	
</table>

@if (!string.IsNullOrEmpty(Model.Message))
{
	<div class="alert alert-info">
		@Model.Message
	</div>
}