@page "{Id:int}"
@model FirstProject.Pages.Customers.CustomersDetailsModel
@{
    ViewData["Title"] = "CustomersDetails";
}

<h1>CustomersDetails</h1>

<table class="table table-bordered col-6">
	<tr>
		<td class="font-weight-bold">Id</td>
		<td>@Model.Customers.Id</td>
	</tr>
	<tr>
		<td class="font-weight-bold">FirstName</td>
		<td>
			@Model.Customers.FirstName
		</td>
	</tr>
	<tr>
		<td class="font-weight-bold">LastName</td>
		<td>@Model.Customers.LastName</td>
	</tr>
	<tr>
		<td class="font-weight-bold">City</td>
		<td>@Model.Customers.City</td>
	</tr>
	<tr>
		<td class="font-weight-bold">Country</td>
		<td>@Model.Customers.Country</td>
	</tr>
</table>

<a asp-page="/Customers/CustomersPage"  class="btn btn-primary">Back</a>